/* CSS Document */
.footer {
	overflow: hidden;
	border: 5px solid red;
	text-align: center;
	padding: 150px;
	background-color:black;
	color:red;
	margin-top:10px;
  
}
@media screen and (max-width: 600px)
{
  .footer {
	overflow: hidden;
	border: 5px solid red;
	text-align: center;
	padding: 150px;
	background-color:black;
	color:red;
	margin-top:10px;
  
}
}