.news-container{
   /* border: 3px solid black; */
    overflow: hidden;
    width:auto;
    
/*  float: right;*/
}
.news-heading {
    float:none;
    text-align:left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    margin: inherit;
}
.news {
    width: 81%;
    background: white;
    padding: 0 2%;
}
.title {
    width: 15%;
    
    text-align: center;
    background: #c81c1c;
    position: relative;
}
.title:after {
    position: absolute;
    content: "";
    right: -18%;
    border-left: 21px solid #c81c1c;
    border-top: 36px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 29px solid transparent;
    top: 0;
}
.title h5 {
    font-size: 25px;
    margin: 8% 0;
}
.news marquee {
    
    font-size: 20px;
    text-align:right;
}       



@media screen and (max-width: 600px)
{
.news-container{
    border: 3px solid black;
    overflow: hidden;
    width:auto;
    
/*  float: right;*/
}
  .news-heading {
    float:none;
    text-align:left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    margin: inherit;
}
.news {
    width: 81%;
    background: white;
    padding: 0 2%;
}
.title {
    width: 15%;
    
    text-align: center;
    background: #c81c1c;
    position: relative;
}
.title:after {
    position: absolute;
    content: "";
    right: -18%;
    border-left: 21px solid #c81c1c;
    border-top: 36px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 29px solid transparent;
    top: 0;
}
.title h5 {
    font-size: 12px;
    margin: 13% 0;
}
.news marquee {
    
    font-size: 20px;
    text-align:right;
}       

}