body{
   font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  color: black;
  
}

/* Style the header with a grey background and some padding */


.top-header {
  height: 40px;
  overflow: hidden;
  background-color:#000000;
  
}
.top-header ul { 
      
      list-style: none;
      float: left;
      text-decoration: none;
      
      display: block;
}
.top-header ul li{ 
       padding-top: 15px;
       padding-right: 12px;
       float: left;
       text-decoration: none;
}


/* Style the header links */
.top-header ul li a {
  float: left;
  color: #ff0000;
   
  text-align: center;
  
  text-decoration: none;
  font-size: 15px;
  line-height: 10px;
  border-radius: 1px;
}


/* Set a style for all buttons */
.right-section{
   overflow: hidden;
  background-color:#000000;
 

}
.right-section ul{
  float: right;
}
.right-section ul li{
  float: right;
}
.right-section ul li a {
  background-color: #ff000000;
  float: right;
  color: #ff0000;
  
  margin: 0px 0px;
  border: black;
  cursor: pointer;
  width: 100%;
}

right-section a:hover {
  opacity: 0.8;
}




